# ignore everything
*

# except:
# git files
!.gitignore
!.gitattributes

# given sub-directories
!auto_tester/
!GameBoyEmu/

# Meson build files
!meson_options.txt
!meson.build

# MSVC specific files
!GameBoyEmu.sln
!GameBoyEmu.vcxproj
!GameBoyEmu.vcxproj.filters
