# ignore everything
*

# except:
!.gitignore
!.gitattributes
!GameBoyEmu/*.cpp
!GameBoyEmu/*.h
!GameBoyEmu/*.vcxproj
!GameBoyEmu/*.vcxproj.filters
!auto_tester/*
!meson_options.txt
!meson.build
!GameBoyEmu.sln