# ignore everything
*

# except:
# git files
!.gitignore
!.gitattributes

# C++ and python files in project directories
!*/
!*.cpp
!*.h
!*.py

# Qt5 UI files (but only in qt platform folder)
!*.ui

# Meson build files
!meson_options.txt
!meson.build

# MSVC specific files
!GameBoyEmu.sln
!GameBoyEmu.vcxproj
!GameBoyEmu.vcxproj.filters
